<div class="card card--modifier" ng-class="cm.cardTheme[cm.$selected]">
  <div class="card-header">
    <ul class="nav nav-tabs justify-content-center card-header-tabs card-header-tabs--modifier">
      <li class="nav-item" ng-repeat="product in cm.collection">
        <a href="#"
          ng-click="cm.selectProduct($index)"
          ng-class="cm.$selected == $index ? 'nav-link active ' : 'nav-link'">
          <span ng-bind="product.name"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="tab-content">
    <div
      ng-repeat="product in cm.collection track by $index"
      ng-class="cm.$selected == $index ? 'tab-pane active' : 'tab-pane'">
      <div class="row no-gutters align-items-top">
        <div class="col-lg-6 py-4 px-4 text-center">
          <div class="card card-block">
            <h4 class="lead">I want to Borrow</h4>
            <h5 class="h2" ng-bind="cm.ngModel.currency.SYM + product.principal"></h5>
            <range-slider
              step="5"
              min="{{cm.ngModel.min_amount}}"
              max="{{cm.ngModel.max_amount}}"
              model="cm.ngModel.principal">
            </range-slider>

            <p class="h5">I am borrowing for</p>
            <p class="h4">
              <span ng-bind="cm.ngModel.payment_count"></span>
              <span ng-bind="cm.ngModel.payment_cycle"></span>
            </p>

            <range-slider
              ng-if="cm.ngModel.payment_cycle == 'days'"
              step="5"
              min="5"
              max="{{cm.ngModel.frequency}}"
              model="cm.ngModel.payment_count">
            </range-slider>

            <p>
              <strong>Final Payment</strong><br>
              <small ng-bind="cm.ngModel.max_duration|moment"></small>
            </p>
          </div><!-- end of .card.card-block -->
        </div><!-- end of .col.col-5 -->


        <div class="col-lg-6 py-5 px-4 m-y-5">
          <h3 class="text-center">Example Payment Schedule*</h3>

          <br>
          <sched-cards
            model="cm.ngModel.instalments"
            static="{{cm.ngModel.currency.SYM}}">
          </sched-cards>
          <br>

          <p class="text-center h5">
            <span>Borrow:</span>
            <strong ng-bind="cm.ngModel.currency.SYM"></strong><strong ng-bind="cm.ngModel.principal"></strong>

            <span>Interest:</span>
            <strong ng-bind="cm.ngModel.currency.SYM"></strong><strong ng-bind="cm.ngModel.interest"></strong>
          </p>

          <p class="text-center">
            <strong>Total Repay</strong>
            <strong ng-bind="cm.ngModel.currency.SYM"></strong>
            <strong ng-bind="cm.ngModel.amount_total"></strong>
          </p>

          <p class="text-center">
            <small class="text-muted">
              * Amounts and instalment dates may differ slightly in the final
              loan offer as we collect each monthly payment on your pay date.
            </small>
          </p>
        </div><!-- end of .col-lg-7 -->
      </div>
    </div>
  </div><!-- end of .tab-content -->
</div>
