<div class="card">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item" ng-repeat="product in cm.collection">
        <a href="#"
          ng-click="cm.selectProduct($index)"
          ng-class="cm.$selected == $index ? 'nav-link active ' : 'nav-link'">
          <span ng-bind="product.name"></span>
        </a>
      </li>
    </ul>
  </div>
  <div class="card-block">
    <div class="tab-content">
      <div
        ng-repeat="product in cm.collection track by $index"
        ng-class="cm.$selected == $index ? 'tab-pane active' : 'tab-pane'">
        <div class="row">

          <div class="col-6 text-center">
            <h4 class="lead">I would like to Borrow</h4>
            <h5 class="h4" ng-bind="cm.ngModel.currency.SYM + product.principal"></h5>

            <range-slider
              step="5"
              min="{{cm.ngModel.min_amount}}"
              max="{{cm.ngModel.max_amount}}"
              model="cm.ngModel.principal">
            </range-slider>

            <p class="h5">I am borrowing for</p>
            <p class="h4">
              <span ng-bind="cm.ngModel.payment_count"></span>
              <span ng-bind="cm.ngModel.payment_cycle"></span>
            </p>

            <range-slider
              ng-if="cm.ngModel.payment_cycle == 'days'"
              step="5"
              min="5"
              max="{{cm.ngModel.frequency}}"
              model="cm.ngModel.payment_count">
            </range-slider>

            <p>
              <strong>Final Payment</strong><br>
              <small ng-bind="cm.ngModel.max_duration|moment"></small>
            </p>
          </div><!-- end of .col-6 -->

          <div class="col-6">

            <div class="row">
              <div class="col-6" ng-repeat="payment in product.instalments">
                <div class="card my-2">
                  <table class="table">
                    <tr>
                      <td><small class="text-muted">Repay</small></td>
                      <td class="text-right">
                        <small ng-bind="product.currency.SYM"></small>
                        <small ng-bind="payment.amount_due"></small>
                      </td>
                    </tr>
                    <tr>
                      <td><small class="text-muted">Due</small></td>
                      <td class="text-right">
                        <small ng-bind="payment.date|moment:'short'"></small>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>

            <p>
              <strong>Borrow:</strong>
              <span ng-bind="cm.ngModel.currency.SYM"></span>
              <span ng-bind="cm.ngModel.principal"></span>

              <strong>Interest:</strong>
              <span ng-bind="cm.ngModel.currency.SYM"></span>
              <span ng-bind="cm.ngModel.interest"></span>
            </p>

            <p>
              <strong>Total Repay</strong>
              <strong ng-bind="cm.ngModel.currency.SYM"></strong>
              <strong ng-bind="cm.ngModel.amount_total"></strong>
            </p>
          </div><!-- end of .col-6 -->

        </div><!-- end of .row -->
      </div><!-- end of .tab-pane -->
    </div><!-- end of .tab-content -->
  </div><!--  end of .card-block -->
</div>
